
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url(../image/image\ copy\ 2.png);
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    padding: 60px;
    gap: 10PX;
    color: white;
}
header h1{
    font-size: 50px;
    font-weight: 600;
    padding-right: 40px;
}
header p{
    padding-right: 40px;
    font-size: 18px;
}
header .btn{
    color: teal;
    padding: 12px 30px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: 550;
    margin-right: 40px;
    margin-top: 40px;
    cursor: pointer;
}
.container{
    /* background-color: teal; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    max-width: 90%;
    margin: 50px 100px;
    height: auto;
}
.content-1{
    margin-bottom: 12px;
}
.content-1 h4{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 8px;
}
.content-1 p{
    font-size: 18px;
}

.content-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.content-a{
    width: 50%;
}
.underline{
    display: block;
    width: 30px;
    height: 04px;
    background-color: teal;
    margin-bottom: 12px;
}
.about-us {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 40px;
}
.us {
    display: flex;
    width: 80%;
    align-items: center;
    gap: 40px;
    color: #2f2f2f;
}
.us p {
    font-size: 24px;
    margin-bottom: 4px;
}
.get-in-touch {
    padding: 10px 26px;
    border: none;
    border-radius: 24px;
    background: teal;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.card-mvl{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
 .card-3{
    width: 30%;
    height: auto;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
    transition: .3s;
    transform: scale(1);
 }
 .card-3:hover{
    transform: scale(1.05);
 }
.image img{
    width: 100%;
    height: 150px;
}
.content{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;
}
.content h3{
    font-weight: 600;
}
.content p{
    padding: 8px;
    font-size: 18px;
}
.why-image{
    display: flex;
    gap: 5px;
    margin-top: 50px;
}
.why-choose{
    padding-right: 100px;
}
.why-choose h1{
    font-size: 32px;
    font-weight: 600;
}
.why-choose p{
    padding-top: 50px;
    font-size: 18px;
}
.image-A img{
    width: 200px;
    height: 150px;
}
.image-B img{
    width: 200px;
    height: 150px;
}
.video-content{
    margin-top: 50px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.content-v{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-right: 100px;
}
.content-v h2{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding-top: 10px;
}
.content-v p{
    text-align: center;
    font-size: 18px;
}
.team{
    margin: 75px 0;
}
.team h1{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 10px;
}
.team h1:after{
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}
.container-profile{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 25px;
    flex-wrap: wrap;
}
.card-profile{
    text-align: center;
    background-color: #446180;
    width: 275px;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}
.card-profile:hover{
    background-color: #243f5c;
}
.card-img img{
    width: 150px;
    border-radius: 16px;
    margin-bottom: 15px;
    border: 6px solid #fff;
}
.content-card h2{
    font-size: 26px;
    margin-bottom: 10px;
    color: #fff;
}
.content-card h3{
    margin: 10px 0px;
    color: #fff;
}
.social ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.social ul li{
    list-style: none;

}
.social a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    transition: .6s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
}
.social a:hover{
    transform: translate(0, -10px);
}
.social a .fa{
    padding-top: 10px;
    font-size: 20px;
    border-radius: 50%;
    transition: .6s;
    color: #000;
}
.brand-lap{
    margin-top: 50px;
}
.brand-lap img{
    margin: 5px;
    width: 150px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.brand-lap img{
    transition: .3s;
    transform: scale(1);
}
.brand-lap img:hover{
    transform: scale(1.05)
}
hr{
    margin-top: 100px;
    width: 50%;
    margin-left: 25%;
}




