*{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
 
}
.container{
    background-color: #12143A;
    /* height: 260px; */
    text-align: center;
    padding-bottom: 60px 20px;
    padding-top: 20px 
} 
.tittle h1{
    color: whitesmoke;
}
.container p{
    color: #CCCCCC;
    font-size: 15px;
}
.contact-us{
    padding-right: 100px;
    padding-left: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    justify-items: flex-end;
    margin-top: 100px
    
    
    
}  
.form-input {
    border-radius: 10px;
    width: 50%;
    height: 100%;
    box-shadow: 1px 1px 20px rgba(3, 0, 0, 0.1);
    /* background-color:  #151749; */
}

.contact-form {
    padding: 40px;
    display: flex;
    flex-direction: column;
/* .form-input: 20px;
    flex-wrap: wrap; */
}
.form-input .contact-form p {
    text-align: center;
    margin-bottom: 22px;
    margin-top: 16px;
}

.name label {
    display: block;
    margin-bottom: 5px;
}
.form-input .contact-form .name .user-info {
    display: flex;
    gap: 10px;
}
.form-input .contact-form .name .user-info .input-name {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;

}
.mail {
    width: 100%;
}
.mail label {
    display: block;
    margin-bottom: 5px;
}
.mail .input-mail {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.phone label {
    display: block;
    margin-bottom: 5px;
}
.phone .input-phone {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}
.message label {
    display: block;
    margin-bottom: 5px;
    justify-content: center;
}
textarea {
    resize: none;
}
.message .input-message {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    height: 100px;
    padding-right: 1px;

}
.submit-btn {
    background-color: #1c1f50;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
}

.submit-btn:hover {
    background-color: #0e157c;
}
.content {
    background-color: #12143A;
    color: whitesmoke;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 60px; */
    margin-bottom: 10px;
}
.content h1{
    padding-top: 55px;
    padding-bottom: 50px;
    
}
.content shq{
    color:#CCCCCC;
}
    
.shq {
    display: flex;
    margin: auto;
    width: 86%;
    gap: 30px;
}
.card-shq {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 400px;
    padding: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    height: 200px;
    margin-bottom: 100px;
}
.card-shq .material-symbols-outlined {
    font-size: 70px;
}
header{
    background-color: white;
    padding: 100px;
    /* padding: 200px; */
}
header h2{
    font-size: 25px;
    height: 100px;
    height: 100px;
    
}

.map-container {
    width: 90%;
}
.map-locate {
    gap: 20px;
    display: flex;
    height: 350px;
    padding-right: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 30px;  
}
.map-container iframe {
    width: 100%;
    height: 400px;
    display: block;
    border: none;
}