* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-image: url(../image/Comp1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
header p {
    color: white;
    font-size: 30px;
}

header h1 {
    color: white;
    font-size: 70px;
    /* font-weight: bold; */
}

header button {
    font-weight: bold;
    background-color: white;
    /* color: teal; */
    border: none;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: 550;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 550px;
    margin-top: 16px;
}

header button:hover {
    background-color: #243f5c;
    color: white;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 16px;
    color: rgb(99, 99, 99);
}

.content p {
    width: 70%;
    text-align: center;
}
.card-container {
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: rgb(99, 99, 99);
}
#cmp {
    text-align: center;
}
.card-content{
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%; 
    gap: 25px;
    display: flex;
    justify-content: center;
    background-color:white;
    padding: 10px;
    margin-left: 0px;
    /* margin: 20px;  
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center; */
}

.card{
    transition: transform 0.2s;
    width: 240px;
    padding: 20px;
    /* border: 1px solid white; */
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    align-items: center;
    gap: 12px;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.laptop{
    width: 100%;
    height: 140px;
    /* height: auto; */
    border-radius: 8px;
    object-fit: cover;
}
.Oder{
    border: none;
    border-radius: 16px;
    width: 100px;
    height: 5vh;
    /* padding: 20px; */
    /* margin: 10px; */
    background-color: green;
    color: white;
    font-weight: bold;
}
.Oder:hover{
    /* color: black; */
    background-color: rgb(243, 243, 138);
    color: black;
}
.card-content p{
    text-align: center;
    color: gray;
}
/* .card-content h2{
    color: gray;
} */
.card-computer{
    transition: transform 0.2s;
    border-radius: 8px;
    width: 40%;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2-content {

    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: row;
    flex-direction: column; */
    align-items: center;
}
.computer-one{
    border-radius: 8px 0px 0px 8px;
}
.computer-two{
    border-radius: 0px 8px 8px 0px;
}
.computer,.computer-one,.computer-two{
    width: 40%;
    height: 334px;
    object-fit: cover;
}
.computer-lap{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.computer-lap #P{
    text-align: right;

}
.computer-lap #p1{
    text-align: left;

}
/* .computer-lap,h2{
    color: black;
    align-self: flex-end;
    padding-bottom: 10px;
} */
/* .computer-lap h2{
    align-self: flex-start;
} */
/* .h2{
    color: black;

} */
.Oder-btn{
    margin-top: 30px;
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 5vh;
    /* padding: 20px; */
    /* margin: 10px; */
    background-color: green;
    /* background-color: #243f5c; */
    color: white;
    font-weight: bold;
    align-self: flex-end;
}
.Oder-btn:hover{
    /* color: black; */
    /* background-color: blue; */
    background-color: #243f5c;
}
#Oder-btn-two{
    align-self: flex-start;
}
.computer-lap-two{
    width: 50%;
    position: relative;
    left: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.computer-two-lap{
    width: 50%;
    height: 400px;
    object-fit: cover;
    border-radius: 0px 40px 8px 0px;
}
.card-computer-lap{
    margin: auto;
    color: white;
    /* background-color: teal; */
    background-color: #243f5c;
    margin-top: 30px;
    border-radius: 8px 40px 8px 40px;
    width: 80%;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-computer-lap{
 transition: transform 0.2s;
}

.card-computer-lap:hover {
    transform: translateY(-10px);
}
.card-computer {
  transition: transform 0.4s;
}

.card-computer:hover {
  transform: scale(1.05);
}
.pwo h2{
    padding-bottom: 20px;
    padding-left: 30px;
}
.tf h2{
    padding-bottom: 20px;
    padding-left: 30px;
}
.ceu h2{
    padding-bottom: 20px;
    padding-left: 30px;
}
hr {
    width: 50%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    transition: transform 0.2s;
}