body{

    margin: 0px;
    padding: 0px;
    font-family: sans-serif ;
}
#active{
    color: rgb(255, 225, 0);
    text-decoration: none;

}
#active:hover{
    color: rgb(255, 225, 0);
    text-decoration: underline;
}
.navbar{
    background: #091f2a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white; 
    padding: 14px;
}
footer{
    background: #091f2a;
    color: white;
    padding: 30px;
}
img{
    width: 60px;
    height: 60px;
}
.link-{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 26px; 
}
nav>ul>li>a{
    color: white ;
    text-decoration: none;
}
#hr-1{

    width: 50%;
    position: relative;
    /* left: 40%;
     */
     margin: auto;
     margin-bottom: 20px;
     border: solid 1px;
     color: white;
}
#hr-2{
    color: #60676b;
    width: 88%;
   
    /* margin-left: 80px; */
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.img-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    font-size: 200x;
    
}
.mul{
    display: flex;
    justify-content: center;
    gap: 200px;
}
.h-p-a-c{
    display: flex;
    flex-direction: column;
    
}
.h-p-a-c a{
    margin-top: 10px;
}
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.Contact-us{
    display: flex;
    gap: 20px;
    padding-top: 20px;
    
}
.h-p-a-c a{
    color: white;
    text-decoration: none;
}
.h-p-a-c a:hover{
    text-decoration: underline;
    color: rgb(255, 225, 0);

}
h4{
    color: rgb(170, 170, 170);
}

.Contact-us a{
    height: 30px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contact-us a {
    background: #60676b;
    font-size: small;
    border-radius: 4px;
    
}
#fac:hover{
    background: rgb(0, 94, 255);
}
#twi:hover{
    background: #06aeeb;
}
#you:hover{
    background: #e80909;
}
.img-h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
i{
    color: white;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.input{
    width: 100%;
    height: 100%;
    border: white;
    display: flex;
}
input{
    border-radius: 20px;
    height: 30px;
    width: 230px;
    border: teal;
    transition: 0.2s;

}
/* input:hover{
    border-radius: 20px;
    height: 30px;
    width: 230px;
    border: none;
 
} */
.location-call-gmial {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}
.location-call-gmial a{
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;

}
#call{
    text-decoration: none;
}
#loca{
    text-decoration: underline;
}
#our-web{
    text-align: center;
}
.footer-container {
    padding-top: 30px;
    width: 90%;
    margin: auto;
}

.navbar-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-mail {
    padding: 6px 20px;
    border: none;
}

.fa-solid {
    position: relative;
    right: 40px;
    color: gray;
}