*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url(../images/computer\ banner\ 2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
header h1 {
    color: rgb(241, 235, 235);
    font-size: 50px;
    margin-top: 40px;
}

header p {
    color: rgb(3, 3, 3);
    font-size: 30px;
    margin-top: 10px;
    margin-left: 70px;
    color: aliceblue;
}

header button {
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.2s;
}

header button:hover {
    background-color:rgb(29, 136, 136);
    transform: translateY(-5px);
}
h1{
    margin-top: 20px;
}
#G{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
    gap: 2px;
}
.card-big{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 40px;
    gap: 440px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: bold;
}
.card-container {
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}
.card-content {
    display: flex;
    gap: 34px;
    justify-content: center;
    
}
.card {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 30%;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
<<<<<<< HEAD
    background-color: white(216, 241, 241);
    transition: 0.2s;
=======
    background-color: white;
    transition: 0.2s;

>>>>>>> d2bd77601bef9d76ec1e18d5fa35ee07248ee0ba
}
.card:hover{
     transform: translateY(-5px);
}
.card img {
    width: 110%;
    height: 130px;
    border-radius: 10px;
    transition: .3s;
    transform: scale(1);
}
.card img:hover{
    transform: scale(1.05);
}
.card p {
    text-align: center;
}
.card button {
    padding: 8px 20px;
    background: #243f5c;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2S;
}
.card button:hover {
    background-color:rgb(248, 248, 181);
    transform: translateY(-5px);
    color: black;
}
h1{
    display:flex;
    justify-content: center;
    align-items: center;
}
.card2-container {
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.card2-content {
    display: flex;
    gap: 34px;
}
.card2 {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 200px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    background-color: white;
    transition: 0.2s;
}
.card2:hover{
     transform: translateY(-5px);
}
.card2 img {
    width: 110%;
    height: 130px;
    border-radius: 10px;
    transition: .3s;
    transform: scale(1);
}
.card2 img:hover{
    transform: scale(1.05);
}
.card2 p {
    text-align: center;
}
.card2 button {
    padding: 8px 20px;
    background: #243f5c;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.card2 button:hover {
    background-color: rgb(243, 243, 138);
    transform: translateY(-5px);
    color: black;
}
.card3-container {
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.card3-content {
    display: flex;
    gap: 34px;
}
.card3 {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 200px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    background-color: white;
    transition: 0.2s;
}
.card3:hover{
     transform: translateY(-5px);
}
.card3 img {
    width: 110%;
    height: 130px;
    border-radius: 10px;
    transition: .3s;
    transform: scale(1);
}
.card3 img:hover{
    transform: scale(1.05);
}
.card3 p {
    text-align: center;
}
.card3 button {
    padding: 8px 20px;
    background: #243f5c;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.card3 button:hover {
    background-color: rgb(243, 243, 138);
    transform: translateY(-5px);
    color: black;
}
.card4-container{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.card4-content{
    display: flex;
    gap: 34px;
}
.card4{
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 14px;
    gap: 12px;
    background-color: white;
    transition: 0.2s;
}
.card4:hover{
     transform: translateY(-5px);
}
.card4 img {
    width: 110%;
    height: 130px;
    border-radius: 10px;
    transition: .3s;
    transform: scale(1);
}
.card4 img:hover{
    transform: scale(1.05);
}
.card4 p{
    align-items: center;
}
.card4 button{
    padding: 8px 20px;
    background: #243f5c;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.card4 button:hover{
    background-color: rgb(243, 243, 139);
    transform: translateY(-5px);
    color: black;
}
.card5-container{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}
.card5-content{
    gap: 34px;
    display: flex;     
}
.card5{
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 14px;
    gap: 12px;
    background-color:rgb(11, 238, 238);
    transition: 0.2s;
}
 #H{
    color: aliceblue;
    margin-top: auto;
 }
.card5 p{
   margin-top: 10px;
   margin-left: 30px;
}
.card5 button{
    width: 30%;
    height: 40px;
    border-radius: 4px;
    transition: 0.2s;
}
.card5 button:hover{
    background-color: aquamarine;
    transform: translateY(-5px);
    cursor: pointer;
}
