body{
    background: #e3e0e0;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif ;
}
#active{
    color: white;
    text-decoration: none;
}
#active:hover{
    color: rgb(255, 225, 0);
    text-decoration: underline;
}
.navbar{
    background: teal;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white; 
}
footer{
    background: #091f2a;
    color: white;
    height: 300px;
}
img{
    width: 60px;
    height: 60px;
}
.link-{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 26px; 
}
#hr-1{
    width: 50%;
}
#hr-2{
    color: #60676b;
    width: 70%;
    margin-top: 30px;
}
.img-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    font-size: 200x;
    
}
.mul{
    display: flex;
    justify-content: center;
    gap: 200px;
}
.h-p-a-c{
    display: flex;
    flex-direction: column;
    
}
.h-p-a-c a{
    margin-top: 10px;
}
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Contact-us{
    display: flex;
    gap: 20px;
    
}
.h-p-a-c a{
    color: white;
    text-decoration: none;
}
.h-p-a-c a:hover{
    text-decoration: underline;
    color: teal;

}
h4{
    color: rgb(170, 170, 170);
}

.Contact-us a{
    height: 30px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contact-us a {
    background: #60676b;
    font-size: small;
    border-radius: 4px;
    
}
#fac:hover{
    background: rgb(0, 94, 255);
}
#twi:hover{
    background: #06aeeb;
}
#you:hover{
    background: #e80909;
}
.img-h3{
    display: flex;
    flex-direction: column;
    align-items: center;

}
i{
    color: white;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.input{
    width: 100%;
    height: 100%;
    border: white;
    display: flex;
}
input{
    border-radius: 20px;
    height: 30px;
    width: 200px;
    border: teal;
    transition: 0.2s;

}
input:hover{
    border-radius: 20px;
    height: 30px;
    width: 230px;
    border: none;
 
}
.location-call-gmial {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}
.location-call-gmial a{
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;

}
#call{
    text-decoration: none;
}
#loca{
    text-decoration: underline;
}
#our-web{
    text-align: center;
}
